{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block body %}
  {{ include('blocks/nav.html.twig') }}

  <!-- Page Content -->
  <div class="container">

    <div class="row">
      <div id="root"></div>
      <!-- /.col-lg-9 -->
    </div>
    <!-- /.row -->

  </div>
{% endblock %}
